{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/style.css' %}">
    </head>
    <body>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
